@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --total-brand: 6;
  --logo-width: 12rem;
  --total-logo-width: calc(var(--total-brand) * var(--logo-width));
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




body {
  position: relative;
  overflow-x: hidden;
}

.bg-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bg-image {
  background-image: url('/assets/gallery/2022-pool-test-1/1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blur-overlay {
  backdrop-filter: blur(4px) brightness(0.70);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.logo {
  width: 10rem;
  height: 10rem;
}
.logo-small {
  width: 2.5rem;
  height: 2.5rem;
}


.title {
  font-size: 5rem;
  font-weight: bold;
  margin-top: 2rem;
}

.subtitle {
  font-size: 2rem;
  font-weight: medium;
  margin-top: 1rem;
}

.links {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
  font-size: 1.2rem;
}

.links a {
  color: #718096;
}

/* .links a:hover {
  color: #2d3748;
} */

.link-underline.active-link {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#00A99D, #00A99D);
  background-size: 0 3px, 100% 3px;
  background-position: 0 100%, 0 100%;
}


.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#187A72, #00A99D)

}

.link-underline:hover {
  background-size: 100% 4px;
  background-position: 0 100%;
 
}
.links:hover{
  cursor:pointer;
}

@media (max-width: 640px) {
  .logo {
    width: 6rem;
    height: 6rem;
  }
  .title {
    font-size: 2rem;
    text-align: center;
  }
  
  .subtitle {
    font-size: 1rem;
    text-align: center;
  }

  .links {
    flex-direction: column;
    align-items: center;
    margin-top: 1 rem;
  }
  
  .links a {
    margin: 0.rem;
  }
}

/* GALLERY */

  .album-card {
    transition: transform 0.2s ease-in-out;
  }
  
  .album-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
  }


@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.bubbles {
  display: flex;
  justify-content: center;
}

.bubble {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 5px;
  animation: float 3s ease-in-out infinite;
}


.bubble:nth-child(1) {
  background-color: #00A99D;
}

.bubble:nth-child(2) {
  background: linear-gradient(to right, #00A99D, #187A72);
}

.bubble:nth-child(n+3) {
  background-color: #187A72;
}

.bubble:nth-child(2) {
  animation-delay: 0.2s;
}

.bubble:nth-child(3) {
  animation-delay: 0.4s;
}

.bubble:nth-child(4) {
  animation-delay: 0.6s;
}

.bubble:nth-child(5) {
  animation-delay: 0.8s;
}

.bubble:nth-child(6) {
  animation-delay: 1s;
}


/* Styles for the paragraph compoenent */

.paragraph {
  white-space:pre-line;
  text-align: justify;
  text-justify: inter-word;
  /* font-family: 'Times New Roman', Times, serif; */
  padding: 2px;
}

.scroller{
  display: grid;
  grid-auto-flow: column;
  /* border: 5px solid limegreen; */
  grid-auto-columns: 100%;
  gap: .25rem;
  overflow: hidden;
}


/* Styles for the carousel */
.carousel {
  align-items: center;
  margin: 0 auto;
  width: 100%;
  position: relative;
  justify-content: center;
  /* border:5px solid red; */
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: .25rem;
  animation: 40s slide infinite linear;
  flex-wrap: nowrap;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 0.25rem));/*0.25 is the gap defined for .scroller. If changed, change it here too */
  }
  
}

.item {
  /* border: 5px solid pink; */
  width: 100%;
}

@media (max-width: 640px) {
  .item {
    min-width: 70px;
  }
}

.item:hover{
  transform: scale(0.9);
}




